# git ignore

/*.egg-info
/dist
/build
/log
/tmp
/env

*.log
*.bak

.idea/
**/__pycache__/*
*.pyc
.DS_Store

/tst/*.png

cfg/*.png
cfg/tmp/*.png
tmp/*.png
tmp/*.ini
/sh.png

/scenes/task.png
/lib/task/task.png
/lib/support/support?.png
/lib/support/skill.png
/lib/support/craft.png
/lib/support/craft?.png
/win/material.png

